body {
  margin: 0;
  display: flex;
}

* {
  box-sizing: border-box;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.ui-box {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 1px orange;
  background-color: #f5f5f5;
  padding: 8px 4px;

  display: flex;
  flex-direction: column;
  gap: 4px;
}
.label {
  white-space: nowrap;
}
